
    
<%- include('./partials/header') %>

<h1>Displaying all the Blogs</h1>
<a href="/blog/new">NEW</a>
<article>
    <% for(let blog of allBlogs){ %>
        <div class="container">
            <h1><%=blog.id%></h1>
            <h2><%=blog.title%></h2>
            <h3><%=blog.author%></h3>
            <p><%=blog.comment%></p>
            <p> <a href="/blogs/<%=blog.id%>">Show</a> </p>
        </div>
    <% } %>

</article>

<%- include('./partials/footer') %>